.stats-tab {
    margin-bottom: -1px;
}

.stats-tab a {
    text-decoration: none;
}

.stats-tab-content {
    min-height: 500px;
    padding: 30px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    border-radius: 0 0 3px 3px;
}

.ui-tabs-active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#gen_file_result {
    font-weight: bold;
}

.log-content {
    margin: 0;
    padding: 2rem;
    height: 400px;
    background-color: #F0F0F1;
    border: 1px solid #DCDCDE;
    overflow-y: auto;
}